.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header {
  background-color: #D77A61;
  height: 100px;
  color: white;
  padding-top: 20px;
  padding-left: 10px;
}

.App-title {
  font-size: 1.5em;
  display:inline;
  margin-left: 20px;
  position: relative;
  top: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  margin: 5px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
